@import 'open-props/normalize';
@import 'open-props/buttons';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-family: var(--font-sans);
	--brand: var(--blue-3);
	--error: var(--red-8);
	--success: var(--green-8);
}

@media (prefers-color-scheme: light) {
	:root {
		--brand: var(--blue-10);
	}
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
